{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p style="color: red">Rossz felhasználónév vagy jelszó.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Nincs jogosultságod az oldal megtekintéséhez.
        Jelentkezz be egy olyan fiókkal, amelynek van.</p>
    {% else %}
        <p>Először jelentkezz be.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<!-- <table> -->
<!-- <tr> -->
<!--     <td>{{ form.username.label_tag }}</td> -->
<!--     <td>{{ form.username }}</td> -->
<!-- </tr> -->
<!-- <tr> -->
<!--     <td>{{ form.password.label_tag }}</td> -->
<!--     <td>{{ form.password }}</td> -->
<!-- </tr> -->
<!-- </table> -->

<div class="grid">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>
<div class="grid">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
